:root {
  --primary: #9C0461;
  --secondary: #FA2C3B;
  --common: #7D96FC;
  --bg: #0B122F;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0B122F;
}
body, html{
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swiper-custom-pagination {
  margin-left: 40px;
}
.swiper-custom-pagination-newgames{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 36px;
  padding-bottom: 52px;
}

.swiper-pagination-bullet {
  background: var(--common) !important;
  height: 8px !important;
  width: 35px !important;
  border-radius: 10px !important;
}

.bannerSlide {
  position: relative;
}

.bannerBg {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
}

/* Companies Styles */
.linear-deg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background: linear-gradient(180deg, rgba(110,110,110,0) 0%, rgba(0,0,0,1) 77%, rgba(0,0,0,0.7273109927564776) 90%, rgba(0,0,0,0) 100%);
}

.companies {
  position: relative;
  width: 100%;
  margin-top: 79px;
  margin-bottom: 79px;
  z-index: 1;
}
.company-item {
  height: 100%;
}
/* Companies Media Styles */


/* @media (max-width: 768px) {
  .company-item {
    width: fit-content;
    transform: scale(0.512);
  }
}
@media (max-width: 600px) {
  .company-item {
    width: fit-content;
    transform: scale(0.396);
  }
} */
/* .swiper-pagination-bullet-active {
	background: var(--primary) !important;
} */

.specialSwipper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

/* Especial Swiper Styles */
.mainCircle {
  width: 733px;
  position: absolute;
  top: -10px;
  right: -40px;
  border: 8px solid #7d96fc5e;
  border-radius: 50%;
}

.small-circle {
  position: absolute;
  width: 120px;
}

.firstCircle {
  top: 392px;
  right: 630px;
}

.secondCircle {
  top: 549px;
  right: 549px;
}

.thirdCircle {
  top: 655px;
  right: 407px;
}
/* Especial Swiper Media Styles */

@media (max-width: 600px) {
  .mainCircle{
    display: none;
  }
  .small-circle {
    display: none;
  }
}
@media (max-width: 768px) {
  .mainCircle{
    top: 80px;
    left: 400px;
    width: 600px;
  }
  .small-circle {
    width: 80px;
  }
  .firstCircle {
    top: 543px;
    right: 254px;
  }
  
  .secondCircle {
    top: 620px;
    right: 152px;
  }
  
  .thirdCircle {
    top: 653px;
    right: 24px;
  }
}



/* NewGames Styles */
.newGamesInit{
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(0deg, rgba(110,110,110,0) 0%, rgba(0,0,0,1) 100%);
  height: 400px;
}
.gamesLine{
  width: 150px;
  height: 2px;
  background-color: white;
}
@media(max-width: 500px) {
  .gamesLine{
    display: none;
  }
}

/* Swiper Arrows Styles */
.swiper-button-next::after, .swiper-button-prev::after {
  content: "" !important;
}
.swiper-button-prev {
  background-image: url('./assets/icons/prevArrow.png');
  background-size: cover;
  background-position: left center;
}

.swiper-button-next {
  background-image: url('./assets/icons/nextArrow.png');
  background-size: cover;
  background-position: right center;
}

.newGamesSwiper .swiper-button-prev {
  margin-top: -80px;
}

.newGamesSwiper .swiper-button-next {
  margin-top: -80px;
}

/* Categories Styles */
.CategoriesSwiper{
  margin-bottom: 42px;
}
